/algos-basics.iml
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/.name
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/target/classes/pl/com/urbanlab/algos101/SumOfTwo.class
/target/
